* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(252, 252, 252);
    color: black
}

h1 {
    text-align: center;
}

* {
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}


.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    font-size: 15px;
    line-height: 1.6;
}


.card button {
    margin-top: 15px;
    padding: 8px 16px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.card button:hover {
    background: #0056b3;
}

.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;

    width: 100%;
    text-align: center;
    box-sizing: border-box;

    margin-top: 20px;
    border-radius: 8px;
}